.main-wrap {
  display: flex;

  .side-bar {
    width: 20%;
    background-color: black;
    padding: 20px 30px;
    height: 100vh;
    font-size: 18px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: wheat;
    }

    .selected {
      text-shadow: 1px 1px 3px white, 0 0 1px white;
      font-size: 20px;
    }
  }

  .content {
    width: 80%;
    padding: 20px 30px;
    z-index: 1;
    height: 100vh;
    background: white;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-container {
      margin-top: 20px;

      .list-wrap {
        .ant-list-item {
          cursor: pointer;

          .list-item {
            width: 100%;
          }
        }
      }
    }
  }
}

.hide-menu {
  .side-bar {
    width: 6%;
    transition: 2s;
  }
  .content {
    width: 94%;
    transition: 2s;
  }
}

.show-menu {
  .side-bar {
    width: 20%;
    transition: 2s;
  }
  .content {
    width: 80%;
    transition: 2s;
  }
}