@for $i from 1 through 300 {
  .height-#{$i}-vh {
    height: $i + vh;
  }

  .width-#{$i}-percent {
    width: $i * 1%;

    &-min {
      min-width: $i * 1%;
    }

    &-max {
      max-width: $i * 1%;
    }
  }

  .width-#{$i} {
    width: $i + px;

    &-min {
      min-width: $i + px;
    }

    &-max {
      max-width: $i + px;
    }
  }
}

.flex {
  display: flex;
}

.justify {
  &-center {
    justify-content: center;
  }
}

.align {
  &-center {
    align-items: center;
  }
}

.text {
  &-center {
    text-align: center;
  }
}